.pagination {
    flex: 0 0 100%;
    display: flex;
    gap: 1rem;
    margin-block: 3rem;
    float: right;
}

.pagination-btn {
    background-color: var(--secondary-color);
    border: none;
    padding-inline: 1rem;
    padding-block: 0.6rem;
    font-family: 'Poppins', sans-serif;
    color: white;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    cursor: pointer;
}
