.featured {
    margin: 1rem;
    padding: 0.5rem;
    margin-top: 5rem;
}

.featured h4 {
    font-size: 3rem;
    text-align: center;
    color: var(--secondary-color);
    margin-bottom: 2.5rem;
}

.featured .f-products {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.featured .f-products .f-product {
    background-color: rgb(253, 251, 251);
    width: 17rem;
    height: 22rem;
    border-radius: 1rem;
}

.featured .f-products .f-product .image-container {
    width: 100%;
    height: 17rem;
    position: relative;
}
.featured .f-products .f-product .image-container img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.featured .f-products .f-product .image-container .icon {
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: x-large;
    color: var(--secondary-color);
}
.featured .f-products .f-product .image-container .icon:hover {
    transform: scale(1.5);
    transition: transform 600ms;
    cursor: pointer;
}

.featured .f-products .f-product h3 {
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--primary-color);
    margin-bottom: 5px;
    margin-left: 0.5rem;
}

.featured .f-products .f-product p {
    color: var(--secondary-color);
    font-size: larger;
    font-weight: 400;
    margin-left: 0.5rem;
}

.featured .f-products .f-product p span {
    float: right;
    margin-right: 1rem;
    cursor: pointer;
}
.featured .f-products .f-product p span:hover {
    transform: scale(1.2);
    transition: transform 600ms;
}

@media screen and (max-width: 600px) {
    .featured .f-products .f-product {
        width: 10rem;
        height: 14.5rem;
    }

    .featured .f-products .f-product .image-container {
        height: 10rem;
    }

    .featured .f-products .f-product p {
        font-size: 1rem;
    }
}

@media screen and (min-width: 600px) {
    .featured .f-products .f-product {
        width: 13rem;
        height: 16rem;
    }

    .featured .f-products .f-product .image-container {
        height: 13rem;
    }

    .featured .f-products .f-product p {
        font-size: 1rem;
    }
}

@media screen and (min-width: 800px) {
    .featured .f-products {
        gap: 2.5rem;
    }
    .featured .f-products .f-product {
        width: 15rem;
        height: 19.5rem;
    }

    .featured .f-products .f-product .image-container {
        height: 15rem;
    }

    .featured .f-products .f-product p {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1000px) {
    .featured .f-products .f-product {
        width: 18rem;
        height: 24rem;
    }

    .featured .f-products .f-product .image-container {
        height: 18rem;
    }
    .featured .f-products .f-product h3 {
        font-size: 1.2rem;
    }
    .featured .f-products .f-product p {
        font-size: 1.5rem;
    }
}
