.products-list {
    margin-top: 3rem;
    display: flex;
    margin-inline: 1rem;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 2rem;
}

.product {
    font-weight: 300;
    background-color: #faf7f8;
    box-shadow: 0 0 40px 5px #c5c4c5;
    height: 16rem;
    width: 16rem;
    position: relative;
}

.products-list h3 {
    flex: 0 0 100%;
    text-align: center;
    text-transform: uppercase;
}

.product .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.product p {
    margin: 0;
    text-align: start;
}

.product:hover .product-menu {
    display: flex;
}

.product-menu {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    height: 100%;
    z-index: 1;
    animation: fadeIn 400ms ease-in;
    display: none;
}

.product-menu:hover {
    cursor: pointer;
    backdrop-filter: blur(5px);
}

.product-menu .icons {
    font-size: 2.5rem;
    color: white;
}

.filters {
    margin-top: 5rem;
}

.filters h3 {
    text-align: center;
    padding-block: 1rem;
}

.filters h3 span {
    margin-left: 1rem;
}

.filters .form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.filters .form button {
    margin-right: 1rem;
    margin: auto;
}

.filters .form .submit {
    width: 90%;
}

.filters .form .filter {
    box-shadow: 10px 10px 10px 1px #c5c4c5;
    border-radius: 1rem;
    margin-bottom: 0.7rem;
    text-align: start;
    width: 11.5rem;
}

.filter ul {
    margin-top: 0;
    list-style: none;
    padding: 1.2rem 1.4rem;
}

.filter ul li {
    margin-bottom: 0.5rem;
}

.filter label {
    margin-left: 0.3rem;
    font-weight: 200;
}

.filter h3 {
    text-align: center;
    padding: 0.8rem 2rem;
    margin: 0;
    padding-bottom: 0.1rem;
    background-color: var(--teritiary-color);
}

@media screen and (max-width: 600px) {
    .products-list {
        justify-content: center;
        align-items: center;
    }
    .product h4 {
        margin-block: 5px;
    }
}

@media screen and (min-width: 600px) {
    .products-list {
        justify-content: center;
        gap: 2rem;
    }
    .product {
        gap: 1rem;
        font-weight: 400;
        align-items: center;
        height: 16rem;
        width: 16rem;
    }

    .product h4 {
        margin-block: 0 5px;
        font-size: x-large;
    }

    .product p {
        margin: 0;
        padding-inline: 1rem;
        font-weight: 300;
        width: 93%;
    }

    .product .img {
        width: 100%;
    }

    .filters {
        margin-top: 8rem;
    }

    .filter label {
        font-weight: 300;
    }
}

@media screen and (min-width: 800px) {
    .product {
        width: 20rem;
        height: 20rem;
    }
    .productsPage {
        display: flex;
        align-items: start;
        margin-top: 10rem;
        margin-inline: 1rem;
    }
    .products-list {
        margin-top: 0;
        align-items: start;
        justify-content: start;
        width: 74%;
    }

    .products-list h3 {
        padding: 1rem 0rem;
        text-align: start;
        text-transform: uppercase;
    }

    .filters {
        width: 24%;
        margin-left: 1rem;
        margin-top: 0;
    }

    .filters .filter {
        min-width: 90%;
    }

    .filters ul {
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .product {
        height: 21rem;
        width: 21rem;
    }

    .filters .filter {
        min-width: 70%;
    }
}

.featured-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.cart {
    float: right;
    margin-right: 1rem;
}

.cart-active {
    color: var(--primary-color);
}
