@keyframes fade {
    from {
        opacity: 0;
        visibility: hidden;
        transform: translateY(0);
    }
    to {
        opacity: 1;
        visibility: visible;
        transform: translateY(10px);
    }
}

.carousel {
    display: flex;
    flex-direction: row;
    margin-top: 6rem;
    text-align: center;
    position: static;
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.text {
    position: absolute;
    color: black;
    padding-inline: 0.7rem;
    border-radius: 3rem;
    box-shadow: 0 0 1px 1px var(--primary-color);
}

.featured-image-container {
    margin: auto;
}

.featured-image-container img {
    width: 100%;
    height: 18rem;
    object-fit: cover;
    opacity: 0.8;
    transition: fade 400ms fade;
}

.carousel button {
    background: none;
    outline: none;
    border: none;
    padding: 0;
}

@media screen and (max-width: 600px) {
    .carousel {
        margin-top: 6rem;
    }
    .text {
        padding-inline: 0.7rem;
    }

    .featured-image-container {
        width: 93%;
    }

    .featured-image-container img {
        height: 18rem;
    }
}

@media screen and (min-width: 600px) {
    .carousel {
        margin-top: 8rem;
    }
    .featured-image-container img {
        height: 30rem;
    }

    .text {
        /* background-color: var(--teritiary-color); */
        box-shadow: 0 0 40px 20px var(--primary-color);
    }
}

@media screen and (min-width: 1200px) {
    .featured-image-container {
        width: 90%;
    }
    .featured-image-container img {
        height: 50rem;
    }
}
