.filters {
    margin-top: 5rem;
}

.filters h3 {
    text-align: center;
    padding-block: 1rem;
}

.filters h3 span {
    margin-left: 1rem;
}

.filters .form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.filters .form button {
    margin-right: 1rem;
    margin: auto;
}

.filters .form .submit {
    width: 90%;
}

.filters .form .filter {
    box-shadow: 0px 5px 10px 1px #c5c4c5;
    margin-bottom: 0.7rem;
    text-align: start;
    width: 11.5rem;
}

.filter ul {
    margin-top: 0;
    list-style: none;
    padding: 1.2rem 1.4rem;
}

.filter ul li {
    margin-bottom: 0.1rem;
    margin-bottom: 0.9rem;
}

.filter label {
    margin-left: 0.3rem;
    font-size: 1.1rem;
}

.filter h3 {
    text-align: center;
    padding: 0.8rem 2rem;
    margin: 0;
    padding-bottom: 0.1rem;
    background-color: var(--teritiary-color);
}

@media screen and (max-width: 600px) {
    .filters {
        margin-top: 8rem;
    }
}

@media screen and (min-width: 800px) {
    .filters {
        width: 24%;
        margin-left: 1rem;
        margin-top: 0;
    }

    .filters .filter {
        min-width: 90%;
    }

    .filters ul {
        width: 100%;
    }
    .filter label {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1200px) {
    .filters .filter {
        min-width: 70%;
    }
}
