@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;800&display=swap');
@import url('https://fonts.cdnfonts.com/css/futura-pt');
:root {
    --primary-color: #469597;
    --secondary-color: #5ba199;
    --teritiary-color: #bbc6c8;
    --light-color: #e5e3e4;
    --brown-color: #ddbeaa;
}

body {
    margin: 0;
    font-family: 'Futura PT', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Bitter', serif; */
}

button {
    font-family: 'Futura PT', sans-serif;
}

.nav {
    background: rgb(70, 149, 151);
    background: linear-gradient(
        90deg,
        rgba(70, 149, 151, 1) 0%,
        rgba(91, 161, 153, 1) 50%,
        rgba(187, 198, 200, 1) 100%
    );
    color: white;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 999;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-list .cart-counter {
    color: #469597;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-weight: 600;
    font-size: large;
}

.nav .logo-container {
    padding-block: 5px;
    margin-left: 1rem;
}

.nav .logo-container img {
    width: 100%;
}

.btn {
    background-color: #5ba199;
    border: none;
    padding-inline: 1.3rem;
    padding-block: 0.5rem;
    border-radius: 1rem;
    font-family: 'Poppins', sans-serif;
    color: white;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.btn:hover {
    box-shadow: 0 0 20px 1px #469597;
}

.error-message {
    color: red;
    text-align: center;
    margin: auto;
    background-color: var(--light-color);
    padding: 1.5rem 4rem;
}

@media screen and (max-width: 600px) {
    .main {
        width: 100%;
    }

    .nav {
        width: 100%;
        justify-content: space-between;
    }

    .nav-menu {
        position: absolute;
        background: rgb(70, 149, 151);
        background: linear-gradient(
            90deg,
            rgba(70, 149, 151, 1) 0%,
            rgba(91, 161, 153, 1) 50%,
            rgba(187, 198, 200, 1) 100%
        );
        margin-top: 14rem;
        padding: 0;
        text-align: center;
        display: none;
        width: 100%;
        padding-bottom: 2rem;
    }

    .nav-list li {
        margin-bottom: 0.5rem;
    }

    .show-nav-menu {
        animation: fade 400ms linear forwards;
        display: block;
    }

    .nav-toggle {
        margin-right: 20px;
        background: none;
        border: none;
        color: white;
        font-size: 1.7rem;
    }

    .nav .logo-container {
        padding-block: 10px;
        width: 2.5rem;
        margin-left: 1rem;
    }

    .products-list {
        display: block;
    }
}

@media screen and (min-width: 600px) {
    .main {
        width: 100%;
    }

    .nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .nav .logo-container {
        width: 5rem;
        margin-left: 2.5rem;
    }

    .nav-menu {
        padding: 1.5rem;
        margin-right: 3rem;
    }

    .nav-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.5rem;
    }

    .nav-toggle {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .main,
    .nav {
        width: 80%;
        margin: auto;
    }

    .nav-menu {
        margin-right: 9rem;
    }

    .nav-list {
        gap: 4rem;
    }
    .btn {
        padding-inline: 3rem;
        padding-block: 0.8rem;
        gap: 0.5rem;
    }
}
